<div class="top_header" id="home" ng-controller="headerController as hc">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3ls_agileinfo">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-w3layouts-agileits">
                    <h1> <a class="navbar-brand" href="#"><i class="fa fa-clone" aria-hidden="true"></i> Carpool </a></h1>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_right_top">
                    <ul class="nav navbar-nav navbar-right">
                        <li ui-sref-active="active"><a class="request" ui-sref="login" ng-show="mc.isDisplay == 0">Login</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                        <li ui-sref-active="active"><a ui-sref="group">Register Group</a></li>
                        <li ui-sref-active="active"><a ui-sref="provider" ng-show="mc.isDisplay == 1 ||mc.isDisplay == 4">Provider</a></li>
                        <li ui-sref-active="active"><a ui-sref="support" ng-show="(mc.isDisplay != 0)">Support</a></li>
                        <li ui-sref-active="active"><a ui-sref="blogs">Blogs</a></li>
                        <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
                        <li><a ng-click="mc.logout()" ng-show="mc.isDisplay != 0" style="cursor:pointer;">LogOut </a></li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>
