<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Local-->
    <add name="CarPoolDbContext" connectionString="data source=DESKTOP-0REG4HQ\SQLEXPRESS;initial catalog=CarPool;integrated security=True;user id=CarPoolAdmin;password=CarPoolAdmin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--Production-->
    <add name="CarPoolDbContext" connectionString="data source=DESKTOP-0REG4HQ\SQLEXPRESS;initial catalog=CarPool;integrated security=True;user id=CarPoolAdmin;password=CarPoolAdmin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>