    <!--/ab-->
<div class="banner_bottom" ng-controller="registergroupController as rc">
    <div class="container">
        <h3 class="tittle-w3ls">Register Group</h3>
        <hr />
        <div class="row" ng-show="rc.IsList == true">
            <div class="col-md-12">
                <input type="button" value="Add Register Group" class="btn btn-primary" ng-click="rc.addEditGroup(0);">
            </div>
        </div>
        
        <div ng-show="rc.IsList == true">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:100px;"> Action </th>
                                <th> Group Name </th>
                                <th> Start From </th>
                                <th> End From </th>
                                <th> Group Rating  </th>
                                <th> Active From  </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rgData in rc.registerGroupList">
                                <td>
                                    <a ng-click="rc.addEditGroup(rgData.rGroupId)" title="Edit"><i class="fa fa-edit text-dark"></i></a> <a data-toggle="modal" data-target="#myModal" style="cursor:pointer;" ng-click="rc.deleteRgGroupId = rgData.rGroupId" title="Remove"><i class="fa fa-times text-danger"></i></a>
                                    <input type="checkbox" id="{{rgData.rGroupId}}" ng-model="rc.selectedList[rgData.rGroupId]" ng-click="rc.requestForjoin(rgData.rGroupId);" style="cursor:pointer;" />
</td>
                                <td>{{ rgData.rgName }}</td>
                                <td>{{ rgData.startFrom }}</td>
                                <td>{{ rgData.endFrom }}</td>
                                <td>
                                    <span class="btn btn-xs" ng-class="rgData.isRanking > 0 ? 'btn-warning':'btn-grey'" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </span>
                                    <span class="btn btn-xs" ng-class="rgData.isRanking > 1 ? 'btn-warning':'btn-grey'" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </span>
                                    <span class="btn btn-xs" ng-class="rgData.isRanking > 2 ? 'btn-warning':'btn-grey'" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </span>
                                    <span class="btn btn-xs" ng-class="rgData.isRanking > 3 ? 'btn-warning':'btn-grey'" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </span>
                                    <span class="btn btn-xs" ng-class="rgData.isRanking > 4 ? 'btn-warning':'btn-grey'" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </span>
                                    <!--{{ rgData.isRanking }}-->
                                </td>
                                <td>{{ rgData.rgCreatedDate }}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Modal-->
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">Confirm Delete</h4>
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you want to delete ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
                                    <button type="button" class="btn btn-primary" ng-click="rc.deleteRgGroup()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Modal-->
                    <div id="myJoinGroupModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="exampleModalLabel" class="modal-title">Add Justification</h4>
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form name="addJustificationFrom">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-control-label">Justification</label>
                                                    <textarea class="form-control" name="justificationDesc" ng-model="rc.joinGroupUser.justificationDesc" required rows="5" cols="5" required> </textarea>
                                                    <span ng-show="(addJustificationFrom.justificationDesc.$dirty) && addJustificationFrom.justificationDesc.$error.required" class="text-danger">
                                                        Justification
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
                                    <button type="button" class="btn btn-primary" ng-click="rc.isJoinGroup()">Submit</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>
        </div>
      
        <div ng-show="rc.IsList == false">
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Back To List" class="btn btn-primary" ng-click="rc.IsList = true">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form ng-submit="rc.submitgroup()" name="editgroup">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Select county</label>
                                    <select class="form-control" ng-model="rc.group.country" required name="selected_countryId" ng-options="item.id as item.name for item in rc.countriesList" convert-to-number>
                                        <option value=""> -- Select Country --</option>
                                    </select>
                                    <span ng-show="(editgroup.selected_countryId.$dirty || rc.submitted) && editgroup.selected_countryId.$error.required" class="text-danger">Select Country</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Select City</label>
                                    <select class="form-control" ng-model="rc.group.city" required name="selected_cityId" ng-options="item.id as item.name for item in rc.city" convert-to-number>
                                        <option value=""> -- Select City --</option>
                                    </select>
                                    <span ng-show="(editgroup.selected_cityId.$dirty || rc.submitted) && editgroup.selected_cityId.$error.required" class="text-danger">Select City</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Select GroupType</label>
                                    <select class="form-control" ng-model="rc.group.rgType" required name="selected_groupTypeId" ng-options="item.id as item.name for item in rc.groupType">
                                        <option value=""> -- Select Group Type --</option>
                                    </select>
                                    <span ng-show="(editgroup.selected_groupTypeId.$dirty || rc.submitted) && editgroup.selected_groupTypeId.$error.required" class="text-danger">Select groupType</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Name</label>
                                    <input type="text" class="form-control" name="groupname" ng-model="rc.group.rgName" required>
                                    <span ng-show="(editgroup.groupname.$dirty || rc.submitted) && editgroup.groupname.$error.required" class="text-danger">
                                        Name is required
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Create Date </label>
                                    <input type="date" class="form-control" name="groupcreateddate" ng-model="rc.group.rgCreatedDate" required>
                                    <span ng-show="(editgroup.groupcreateddate.$dirty || rc.submitted) && editgroup.groupcreateddate.$error.required" class="text-danger">
                                        Create Date is required
                                    </span>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Start Location </label>
                                    <input type="text" class="form-control" name="groupstartlocation" ng-model="rc.group.startFrom" required>
                                    <span ng-show="(editgroup.groupstartlocation.$dirty || rc.submitted) && editgroup.groupstartlocation.$error.required" class="text-danger">
                                        Start Location is required
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group End Location</label>
                                    <input type="text" class="form-control" name="groupendlocation" ng-model="rc.group.endFrom" required>
                                    <span ng-show="(editgroup.groupendlocation.$dirty || rc.submitted) && editgroup.groupendlocation.$error.required" class="text-danger">
                                        End Date
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Description</label>
                                    <textarea class="form-control" name="description" ng-model="rc.group.rgDesc" required rows="1" cols="5"> </textarea>
                                    <span ng-show="(editgroup.description.$dirty || euc.submitted) && editgroup.description.$error.required" class="text-danger">
                                        Description
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Link</label>
                                    <input type="text" class="form-control" name="grouplink" ng-model="rc.group.rgLink" required>
                                    <span ng-show="(editgroup.grouplink.$dirty || rc.submitted) && editgroup.grouplink.$error.required" class="text-danger">
                                       Group Link
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Auto Register:</label>
                                    <input type="radio" name="AutoRg" ng-click="rc.group.isAutoRegister = true;" ng-model="rc.group.isAutoRegister" ng-value="true">Yes
                                    <input type="radio" name="AutoRg" ng-click="rc.group.isAutoRegister = false;" ng-model="rc.group.isAutoRegister" ng-value="false">False
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Group Image Icon</label>                                    
                                    <input type="file" name="groupIcon" onchange="angular.element(this).scope().uploadFile(this);"/>                                    
                                    <img class="imagepointer" ng-src="{{ rc.group.rgImagePath }}" style="width:226px;height:174px" ng-if='rc.isIcon'>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Group Admin</label>
                                    <table style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th> Name </th>
                                                <th> Phone </th>
                                                <th> Email </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="admin in rc.groupAdminList">
                                                <td> <input type="text" class="form-control" name="groupAdmin" ng-model="admin.name"> </td>
                                                <td> <input type="text" class="form-control" name="groupAdmin" ng-model="admin.phone"> </td>
                                                <td> <input type="email" class="form-control" name="groupAdmin" ng-model="admin.email"> </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tp">
                                    <input type="submit" value="Signin" class="btn btn-primary hvr-underline-from-left">
                                    <input type="button" value="Cancel" class="btn btn-default hvr-underline-from-left" ng-click="rc.IsList = true">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

           
        </div>
        
    </div>
</div>
<!--//ab-->